/* Components layer: component-level styles */

@layer components {
    /* Add your component styles here, e.g., buttons, cards */
    .glass-card {
        position: relative;
        @apply rounded-lg p-2.5 tablet:p-4 desktop:p-5 backdrop-blur-xl bg-white/5 dark:bg-white/3;
    }
    .glass-card::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: 1px; /* edge thickness */
        border-radius: inherit;
        background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0.5%, rgba(255, 255, 255, 0.5) 5%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0.75) 105%);
        -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        mask-composite: exclude;
        pointer-events: none;
    }
    .glass-card::after {
        content: '';
        border-radius: inherit;
        position: absolute;
        inset: 0;
        box-shadow: inset 0px 0px 1.75px 0px white;
        background: #ffffff1a;
        mix-blend-mode: overlay;
        pointer-events: none;
    }
}
